@media (max-width:720px) {
  .main-nav-item {
    display: block;
    margin-bottom: 12px;
    width: 100%;
  }
  .sub-nav {
    display: block;
    max-width: 400px;
    margin: 0 auto;

    padding-bottom: 0;
  }
}