html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html {
  text-align: center;
  margin: 0 auto;
}

body {
  margin-top: 24px;
}

.title {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 24px;
  white-space: nowrap;
}

.main-nav {
  display: block;
  width: 100%;

  margin: 0 auto;
  overflow: hidden;
  padding-bottom: 6px;
  text-overflow: ellipsis;

  -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
     -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
          box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
}

nav-bar {
}

nav-bar ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
}
nav-bar ul li {
  display: inline-block;
}

nav-item {
  display: inline-block;
  margin: 0 1%;
  width: 30%;

  background: transparent;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.main-nav-item {
  font-size: 20px;
  line-height: 24px;
}
.main-nav-item a {
  display: block;
}

.sub-nav-item {
  border-bottom: thin solid black;
  font-size: 14px;
  line-height: 18px;
  padding-top: 2px;
  padding-bottom: 1px;
}

.sub-nav-doodad {
  display: block;
  height: 12px;
  margin: 3px auto;
  max-width: 440px;
  width: 100%;
}

.sub-nav-doodad line {
  fill: none;
  stroke: black;
}
.sub-nav-doodad .mid {
  stroke-dasharray: 12;
  stroke-dashoffset: 12;
}
.sub-nav-doodad .z line:nth-child(1),
.sub-nav-doodad .z line:nth-child(3) {
  stroke-dasharray: 6;
  stroke-dashoffset: 6;
}
.sub-nav-doodad .z line:nth-child(2) {
  stroke-dasharray: 110%;
  stroke-dashoffset: 110%;
}

/*Activate anim*/
.sub-nav-doodad {
  height: 0;
  transition: height 0.1s linear;
}
.active .sub-nav-doodad {
  height: 12px;
}

.sub-nav {
  cursor: default;
  opacity: 0;
  height: 0;
  transition: opacity 0.25s 0.5s linear,
    height 0.2s 0.5s linear;
}
.active .sub-nav {
  cursor: pointer;
  height: 24px;
  opacity: 1;
}
.active .sub-nav-doodad line,
.active .sub-nav-doodad .z line {
  stroke-dashoffset: 0;
}
.sub-nav-doodad .mid {
  transition: stroke-dashoffset 800ms linear;
 }
.sub-nav-doodad .z line:nth-child(1) {
  transition: stroke-dashoffset 0.05s linear;
}
.sub-nav-doodad .z line:nth-child(2) {
  transition: stroke-dashoffset 1.05s 0.15s linear;
}
.sub-nav-doodad .z line:nth-child(3) {
  /*transition-delay: ;*/
  transition: stroke-dashoffset 150ms 720ms linear;
}

.sub-nav-doodad .right-l {
  position: absolute;
  right: 0;
  /*transform: translateX(300%);*/
}

content-item {
  /*outline: thin solid blue;*/
  display: block;
  margin: 0 0;

  padding: 12px;
}

.offscreen {
  position: absolute;
  clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

content {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

content-item {
  margin: 0 auto;
  max-width: 1024px;
}

content-item p {
  text-align: left;
  text-indent: 2em;
}