.about {
  color: black;

  .about-container {
    margin: 0 auto;
    width: 90%;
    padding-bottom: 30px;
  }

  .about-segments {
    display: flex;
    flex-flow: row wrap;
    margin: 0 4%;
    font-size: 16px;
  }

  .about-segment {
    width: 48%;
  }
  .about-segment:first-of-type {
    margin-right: 4%;
  }

}


@include respond-to(medium) {
  .about {
    .about-container {
      margin: 0 5% 0 auto;
    }
    .about-segment {
      width: 100%;
      margin: 0;
    }
  }
}