.about {
  // .section-content>h1,
  // .about-wrapper {
  //   margin: 0 auto;
  //   max-width: 980px;
  // }

  background: #ffffff;
  color: black;
  
  // color: white;
  
  h1 {
    // color: #121212;
    color: black;
  }

  h2 {
    margin-bottom: 0;
    font-size: 18px;
    font-weight: 600;
  }
}
