.hero {
  position: relative;

  display: block;
  height: 360px;
  max-height: 40vh;

  color: white;
  background: rgba(255,255,255, 0.4);
  background: black;
  overflow: hidden;
  vertical-align: middle;

  transition: max-height 0.1s ease-in-out;
}

@include respond-to(medium) {
  .hero {
    max-height: 25vh;
  }
}

.hero-vid {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  
}


.hero-labels {
  position: absolute;
  top: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 100%;

  background-color: rgba(183, 213, 237, 0.8);
  text-align: center;

}

.hero-text-wrapper {
  position: relative;
  top: 50%;
  transform: translateY(-55%);
  display: block;
  width: auto;

  .hero-type-text {
    position: relative;
    display: inline-block;
    height: 1.5em;
    font-size: 40px;
    color: #000000;

    &:after {
      content: '_';
      position: absolute;
      right: -0.6em;
      top: 0px;

      animation: terminal-cursor-blink 1s 0s linear infinite;
    }
  }
}

@include respond-to(small) {
  .hero-text-wrapper {
    .hero-type-text {
      font-size: 24px;
    }
  }
}

@keyframes terminal-cursor-blink {
  0%   { opacity: 0; }
  59%  { opacity: 0; }
  60%  { opacity: 1; }
  100% { opacity: 1; }
}
