.item-modal-viewport,
.item-modal-lightbox {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  transition: opacity 0.7s $easeInOutSine;
}

.item-modal-lightbox {
  // background-color: rgba(0,6,0, 0.9);
  background-color: rgba(83, 113, 137, 0.8);
  // background-color: rgba(62,124,247, 0.6);
  cursor: pointer;
}

.item-modal-viewport {
  z-index: 2; // Above menu.

  .item-modal-wrapper {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;

    display: block;
    width: 90%;
    height: 100%;
    max-width: 980px;

    .item-modal-close {
      display: none;
      position: absolute;
      // top: -20px;
      // right: -18px;
      top: 3px;
      right: 3px;

      // display: block;
      width: 24px;
      height: 24px;

      cursor: pointer;
      background: url('https://connorthomascleary.com/assets/img/icon/close.png') no-repeat transparent;
      background-size: 24px 24px;
    }
  }
}

// FLEX layout
.item-modal {
  display: flex;
  flex-direction: column;

  width:  100%;
  height: 100%;

  .item-modal-header {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto; // Allow differently sized heros.

    overflow: hidden;
  }

  .item-modal-contents {
    flex-shrink: 1;
    flex-grow: 1;
    flex-basis: 100%;

    display: flex;
    flex-direction: row;
    align-items: stretch;

    position: relative;
    width: 100%;
    height: 100%;

    .item-modal-description {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 730px;
    }
    .item-modal-sidebar {
      flex-grow: 1;
      flex-shrink: 1;
      flex-basis: 250px;

      width: 100%;
      min-width: 125px;
      // Causes issues when desc is short.
      // This is the fix if desc is long...
      // height: 100%;
    }
  }
}

// Style
.item-modal-wrapper {
  background: white;
  overflow-y: auto;
  overflow-x: hidden;
}
.item-modal-container {
  position: relative;
  height: auto;
  min-height: 100%;
  width: 100%;
}

.item-modal {
  // overflow-x: hidden;
  // overflow-y: auto;
  min-height: 100%;

  .item-modal-header {
    margin-top: 16px;

    .item-modal-headline {
      padding-top: 0;
      margin: 0 12px 24px 12px;
      line-height: 1.25em;
    }

    .item-modal-hero {
      display: block;
      height: 200px;
      max-height: 45vw;
      background: #f9f9f9;
    }
  }

  .item-modal-contents {
    border-top: thin solid #fafafa;
    font-size: 15px;
    line-height: 18px;

    p {
      margin: 0 0 18px 0;
      line-height: 18px;
    }
    h2 {
      font-size: 18px;
      font-weight: bold;
      line-height: 18px;
      margin-bottom: 12px;
    }


    .item-modal-description {
      margin-bottom: 24px;

      h2, p {
        padding-left: 20px;
        padding-right: 20px;
      }
      li {
        padding-right: 20px;
      }
    }

    .item-modal-sidebar {
      li {
        padding-right: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }


    .item-modal-sidebar,
    .item-modal-description {
      padding-top: 20px;
      padding-bottom: 20px;
    }
    .item-modal-sidebar {
      background: #f9f9f9;
      font-size: 12px;
      text-align: center;

      .item-modal-sidebar-section {
        margin-bottom: 12px;
      }

      .item-modal-cta a {
        display: inline-block;
        // margin-bottom: 24px;
        padding: 12px;
        width: 90%;

        background-color: #3E7CF7;
        border: thin solid transparent;
        color: white;
        font-size: 15px;
        line-height: auto;
        text-decoration: none;

        transition: background 0.15s linear,
                    color 0.15s linear,
                    border 0.15s linear;

        &:hover {
          background: transparent;
          border-color: #3E7CF7;
          color: #3E7CF7;
        }
      }

      .item-modal-info a {
        font-size: 15px;
      }

      .item-modal-tags,
      .item-modal-skills {
        text-transform: capitalize;
      }

      .item-modal-skills {
        padding-bottom: 1em;
      }

      ul {
        list-style-type: none;
        margin: 0;
      }
    }
  }
}

// For responsive video embed:
// With thanks to: http://embedresponsively.com/

@mixin item-responsive-video {
    position: relative;
    padding-bottom: 56.25%; // Aspect ratio hack.
    height: 0;
    overflow: hidden;
    max-width: 100%;

    iframe,
    object,
    embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
}

.item-modal-vimeo-hero,
.item-modal-youtube-hero {
  @include item-responsive-video;
}

.item-modal-description {
  p.list-header {
    font-weight: bold;
    margin-bottom: 6px;
  }

  img {
      margin-left: 20px;
  }

  img.center {
    display: block;
    margin: 0 auto;
  }

  hr {
    height: 0;
    border: none;
    border-top: 1px solid #e4e4e4;
    margin: 0 0 18px 0;
  }

  ul {
    list-style-type: disc;
    margin-left: 40px;
    margin-bottom: 18px;
  }
  ul li {
    margin-bottom: 6px;
  }
  ul li ul {
    margin-left: 24px;
    margin-bottom: 6px;
  }
  ul li ul li {
    list-style-type: circle;
    margin-bottom: 0;
  }

}

@include respond-to(small) {
  .item-modal-viewport {
    .item-modal-wrapper {
      width: 100%;

      .item-modal-close {
        display: inline-block;
      }
    }
  }

  .item-modal {
    .item-modal-contents {
      flex-direction: column;

      .item-modal-sidebar {
        text-align: left;
        padding-left: 20px;
      }
    }
  }
}