// Layout
.portfolio {
  .slates-wrapper {
    width: 100%;
    padding: 0;
    padding-bottom: 4%;

    .slates-holder {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      margin: 0 auto;
      // max-width: 1480px;
      width: 100%;
    }
  }
}

.portfolio .slate-item {
  display: inline-block;
  flex: 0 0 auto;

  width: 23%;
  height: 210px;
  margin: 1%;
  
  background: transparent;
}

@include respond-to(large) {
  .portfolio .slate-item {
    width: 31%;
    height: 210px;
    margin: 1%;
  }
}
@include respond-to(medium) {
  .portfolio .slate-item {
    width: 48%;
    height: 210px;
    margin: 1%;
  }
}
@include respond-to(small) {
  .portfolio .slate-item {
    width: 98%;
    height: 210px;
    margin: 1%;
  }
}


// Style
.portfolio {
  background: white;
  
  color: #333;
  
  h1 {
    text-align: center;
  }

  // p {
  //   margin-bottom: 12px;
  // }
 }
.portfolio .slate-item {
  .cover {
    position: relative;

    background-color: white;
    opacity: 0;
    transition: opacity 0.08s linear;
  }

  &:hover {
    .cover {
      opacity: 1;
    }
  }
}

.portfolio .slate-item {
  .item-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 100%;
    min-height: 100%;
  }
}

.portfolio .slate-item .cover {
  .item {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 100%;

    text-align: center;

    .item-title {
      display: block;
      font-size: 18px;

      &:after {
        content: '';
        display: block;
        width: 10%;
        height: 1px;
        margin: 11px auto 3px auto;

        border-bottom: thin solid black;
        opacity: 0.85;
      }
    }
    .item-venue,
    .item-tags {
      display: inline-block;
    }

    .item-tags {
      &:before {
        padding-left: 6px;
        content: '-';
        padding-right: 6px;
      }

      span {
        display: inline-block;
        font-size: 13px;

        &:not(:first-child):before {
          content: ', ';
        }
      }
    }
  }
}

@include respond-to(small) {
  .portfolio .slate-item {
    margin: 1% 1% 2% 1%;
  }
}
