.portfolio {
  // background: url('/img/bg.jpg') repeat black,
  background: url('http://connorthomascleary.com/assets/img/bg.jpg') repeat black;
  border-top: 1px solid rgba(39, 174, 12, 0.05);
  border-bottom: 1px solid rgba(39, 174, 12, 0.15);
  
  color: #efe;
  
  h1 {
    text-align: left;
  }

  p {
    margin-bottom: 12px;
  }

  .slates-wrapper {
    width: 100%;
    padding: 0;
    padding-bottom: 4%;

    .slates-holder {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      margin: 0 auto;
      max-width: 1480px;
      width: 100%;
    }
  }
      
  .slate-item {
    display: inline-block;
    flex: 0 0 auto;
    width: 45%;
    min-width: 210px;
    max-width: 240px;
    height: 210px;
    margin: 0 2% 12px;
    
    background: transparent;
    border-radius: 1px;

    text-shadow: 0px  2px 0 black,
                 1px  1px 0 black,
                -1px -1px 0 black,
                 1px -1px 0 black,
                -1px  1px 0 black;
    .cover {
      // faux white border
      box-shadow: inset 0 0 0 1px $almost-white;
    }

    &.w-modal,
    &.w-url {
      transition: border-color 0.15s linear;
      border-width: 4px;
      border-color: transparent;

      &:hover {
        border-color: $interactive-hover;
      }
    }

    &.w-modal {
      &:before {
        box-shadow: 1px 4px 2px 0px rgba(0, 0, 0, 0.5);
      }
      &:after {
        box-shadow: -3px 3px 2px 0px rgba(0, 0, 0, 0.5);
      }
    }
    &.w-url {
      &:before {
        box-shadow: 1px 3px 2px 0px rgba(0, 0, 0, 0.5);
      }
    }

    .item {
      background: rgba(0,0,0, 0.25);
      padding: 0 0 3px 3px;
      width: 100%;
    }
  }


  .item-venue,
  .item-tags {
    display: inline-block;
  }

  .item-tags {
    &:before {
      padding-left: 6px;
      content: '-';
      padding-right: 6px;
    }

    span {
      display: inline-block;
      font-size: 13px;

      &:not(:first-child):before {
        content: ', ';
      }
    }
  }
}

@include respond-to(xx-large) {
  .portfolio {
    .slate-item {
      max-width: 370px;
      margin: 0 1% 12px;
    }
  }
}
@include respond-to(x-large) {
  .portfolio {
    .slate-item {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

@include respond-to(medium) {
  .portfolio {
    .slate-item {
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

@include respond-to(small) {
  .portfolio {
    .slate-item {
      max-width: 100%;
      width: 100%;
    }
  }
}
