
.pubs-wrapper {
  vertical-align: center;

  .items-container {
    width: 90%;
  }

  .pub-item {
    position: relative;
    display: block;
    min-height: 36px;
    margin-bottom: 15px;
    padding: 6px 0 6px 1%;

    .cover {
      padding: 15px;
    }

    &.w-url,
    &.w-modal {
      padding-right: 40px;

      &:hover {
        color: $interactive-hover;
      }
    }

    .item {
      position: relative;
      font-size: 14px;
      font-weight: 500;
      line-height: 18px;
    }

    .item-title {
      line-height: 24px;
      font-weight: 600;
    }
    .item-venue,
    .item-tags {
      line-height: 18px;
      // font-size: 14px;
      // font-weight: 300;
    }
    .item-title,
    .item-venue,
    .item-tags {
      display: inline-block;
    }
    .item-venue:before {
    // .item-tags:before {
      content: '- ';
      padding-left: 4px;
    }
    .item-tags {
      white-space: nowrap;
      font-weight: 300;
      margin-left: 8px;

      &:before {
        content: '(';
      }
      &:after {
        content: ')';
      }

      .item-tag {
        font-size: 14px;

        &:after {
          content: ', ';
        }

        &:last-of-type {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}


@include respond-to(small) {
  .pubs-wrapper {
    .pub-item .item {
      padding-left: 2%;

      .item-title,
      .item-venue {
        font-size: 14px;
      }

      .item-title,
      .item-venue,
      .item-tags {
        display: block;
      }
      .item-venue:before,
      .item-tags:before {
        display: none;
      }

      .item-tags {
        .item-tag {
          font-size: 12px;
        }
      }
    }
  }
}
@include respond-to(x-small) {
  .pubs-wrapper {
    .pub-item .item {
      font-size: 12px;

      .item-tags {
        .item-tag {
          font-size: 12px;
        }
      }
    }
  }
}
