/**
 * Definintion:
 * wrapper   : full width wrapper for background coloring
 * container : max-width container for maxxing out content width
 */
.section {
  .section-content {
    min-height: 65vh;
    padding-bottom: 30px;
    margin: 0 auto;

    // &>h1,
    // &>h2, 
    // &>h3 
    // .section-headline
    // .section-sub-headline {
    //   text-align: center;
    // }
  }

}

.section-headline,
.section-sub-headline {
  text-align: center;
}
.section-headline {
  padding-top: 30px;
  margin-bottom: 30px;
}
.section-sub-headline {
  margin-top: -15px;
  margin-bottom: 30px;
}
// .section-wrapper {
//   padding-bottom: 30px;
// }
.segment-headline {
  font-size: 16px;
  font-weight: 800;
}

$wht: #ffffff;
$offwht: #f7f7f7;
// $offwht: #f2f2f2;
// $offwht: #efefef;

$borderwht: #eaeaea;
// $borderwht: #e7e7e7;

.section-content,
.tag-button,
.pub-item:hover,
.filter-type {
  background: $wht;
}
.tags-filters-wrapper,
.pub-item {
  background: $offwht;
}

section:nth-child(2n) {
  .section-content {
    // border-top: 1px solid $borderwht;
    border-bottom: 1px solid $borderwht;
  }

  .section-content,
  .tag-button,
  .pub-item:hover {
    background: $offwht;
  }
  .tags-filters-wrapper,
  .pub-item {
    background: $wht;
  }
}

.section-wrapper,
.tags-filters-wrapper {
  width: 100%;
}

.skills-container,
.about-container,
.tags-filters-container,
.items-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-content-width;
}