.section {
  border-bottom: 1px solid rgba(255,255,255, 0.1);

  min-height: 90vh;

  &.skills,
  &.about {
    min-height: 65vh;
  }

  .section-content {
    margin: 0 auto;
    max-width: 1280px;
  }
  // &.portfolio .section-content {
  // }

  &.skills .section-content,
  &.about  .section-content {
    max-width: 980px;
  }

  .section-content>h1 {
    padding-top: 18px;
  }
}
.section-wrapper {
  padding-bottom: 24px;
}
