/**
 * Definintion:
 * wrapper   : full width wrapper for background coloring
 * container : max-width container for maxxing out content width
 */
.section {
  .section-content {
    min-height: 65vh;
    margin: 0 auto;

    &>h1,
    &>h2, 
    &>h3 {
      text-align: center;
    }
  }
}
.section-wrapper {
  padding-bottom: 30px;
}


$wht: #ffffff;
// $offwht: #f7f7f7;
$offwht: #f4f4f4;
$borderwht: #e7e7e7;

.section-content,
.tag-button {
  background: $wht;
}
.tags-filters-wrapper,
.pub-item {
  background: $offwht;
}

section:nth-child(2n) {
  .section-content {
    border-top: 1px solid $borderwht;
    border-bottom: 1px solid $borderwht;
  }

  .section-content,
  .tag-button {
    background: $offwht;
  }
  .tags-filters-wrapper,
  .pub-item {
    background: $wht;
  }
}

.section-wrapper,
.tags-filters-wrapper {
  width: 100%;
}

.skills-container,
.about-container,
.tags-filters-container,
.items-container {
  margin-left: auto;
  margin-right: auto;
  max-width: $max-content-width;
}