
.skills-wrapper {
  display: flex;
  flex-flow: row wrap;

  font-size: 15px;

  .skills-segment-header {
    margin-bottom: 15px;
  }

  .skills-list-container {
    flex: 0 0 auto;
    width: 230px;
  }

  ul ul {
    margin-bottom: 0;
  }
}

