html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*   temp temp temp temp    */
section>div {
  // outline: thin solid red;
}

body {
  margin: 0;
  min-height: 100%;

  background: white;
  // font-family: 'Open Sans', sans-serif;
  font-family: 'ahamonoregular';
}

body.modal-open {
  overflow: hidden;
}

section,
nav {
  margin: 0;
}

p {
  margin-bottom: 15px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

ul {
    list-style-type: circle;
    padding: 0;
    margin: 0 0 1em 1.25em;
}
ul ul {
    list-style-type: disc;
}
ul ul ul {
    list-style-type: square;
    margin-bottom: 0;
}

.wrapper {
  position: relative;
  min-height: 100%;
  // z-index: 1;
}

.transparent {
  opacity: 0;
}


h1 {
  color: inherit;
  font-size: 32px;
  line-height: 36px;

  margin: 0;
  padding: 0;

  padding-top: 30px;
  margin-bottom: 30px;

}

h2 {
  margin-bottom: 15px;
}
// @include respond-to(large) {
// }

@include respond-to(medium) {
  h1 {
    font-size: 22px;
  }
  h2, h3 {
    font-size: 18px;
  }
}
@include respond-to(x-small) {
  h1 {
    font-size: 18px;
  }
  h2, h3 {
    font-size: 16px;
  }
}
