tagged-item {
  // overflow: hidden;
  
  .tagged-item-flavor {
    display: block;
    width: 100%;
    height: 210px;
    overflow: hidden;

    border: 1px solid #eee;
  }

  &.pub-item {
    .tagged-item-flavor {
      display: none;
    }

    .info {
      padding: 6px;
    }
  }

  .modal-button {
    width: 100%;
    border: none;
    background: transparent;
    margin: 0;
    padding: 0;
  }

  .info {    
    position: relative;
    width: 100%;
    // height: 100%;
    padding: 6px 6px 20px 6px ;
  }

  .cover {
    position: relative;

    width: 100%;
    height: 100%;

    background-position: center bottom;
    background-size: cover;
    overflow: hidden;
  }

  .item {
    // position: absolute;
    left: 0;
    bottom: 0;

    font-size: 16px;
    font-weight: 600;
  }

  .item-youtube {
    display: none;
  }

}

tagged-item.video-item {
  .item-youtube {
    display: block;
  }
}
