
.remove-filters-spacer {
  padding-bottom: 24px;
}

.tags-filters-activator {
  position: relative;
  height: 24px;
  margin-bottom: -24px;

  text-align: center;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s 0.35s ease-in-out;
  
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  button {
    &:after {
      content: '';
    }
    color: $almost-black;
    &:hover {
      color: $interactive-hover;
    }
  }
  .button {
    padding: 0 5px;

    background: none;
    border: none;
    font-size: 13px;
  }
}


// Layout filters
.tags-filters-wrapper {
  height: auto;
  padding-top: 3%;
  padding-bottom: 3%;
  transform-origin: center top;
  transition: transform 0.25s ease-in-out;

  &.is-collapsed {
    transform: scaleY(0);
    height: 0;
  }
}

.tags-filters-wrapper {
  margin-bottom: 30px;
  width: 100%;
}
.tags-filters-container {
  display: flex;
  flex-direction: row;
  flex-flow: space-between;

  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.tags-filters-header,
.tags-filters-buttons-wrapper,
.hide-filters {
  height: 100%;
}

.tags-filters-header {
  flex: none;
  width: 200px;
  vertical-align: middle;
}

.tags-filters-buttons-wrapper {
  flex: 1 1 auto;
}

.hide-filters {
  flex: none;
  width: 45px;
}

.tags-filters {
  position: relative;
  // @include vertical-align();
  width: 100%;
}

.tags-filters-container,
.tags-filters-header {
  position: relative;
}

.tags-section-title,
.tags .tag-button {
  height: 36px;
  line-height: 30px;
  padding: 1px 6px 4px;
  margin: 0.25em;
  font-size: 15px;
}

.tags-filters-header {
  text-align: center;
  padding-right: 10px;
}
.tags-section-title {
  position: relative;
  display: inline-block;
  white-space: nowrap;
}



.filter-type-container {
  display: inline-block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 15px;
  height: 15px;

  transition: opacity 0.3s 0 linear;

  &.is-hidden {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}

.filter-type {
  border: 0;
  border-radius: 0;
  padding-bottom: 3px;
}



.hide-filters {
  // @include vertical-align();
  right: 0;
  width: 35px;
  height: 35px;

  .x {
    position: relative;
    width: 100%;
    height: 100%;


    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0 2px 0 1px;

    .x-img {
      width: 100%;
      height: 100%;
      filter: saturate(0%);
      &:hover {
        filter: none;
      }
    }
  }
}


@include respond-to(medium) {
  .tags-filters-container {
    flex-direction: row;
    flex-wrap: wrap;

    flex-flow: space-between;
  }
  .tags-filters-header {
    height: 20%;
    width: 100%;
  }

  .filter-type-container {
    display: block;
    margin-bottom: 15px;

    &.is-hidden {
      display: block;
    }
  }

  .tags-filters-buttons-wrapper {
    height: 80%;
  }

  $smallerClose: 30px;
  .hide-filters {
    position: absolute;
    top: 0;
    right: 0;
    width: $smallerClose;
    height: $smallerClose;
    .x {
      width: $smallerClose;
      height: $smallerClose;
    }
  }
}

// @include respond-to(small) {
// }
