
.tags-filters-activator {
  position: relative;
  height: 24px;
  margin-bottom: -24px;

  text-align: center;

  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s 0.35s ease-in-out;
  
  &.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  button {
    &:after {
      content: '';
    }
    color: $almost-black;
    &:hover {
      color: $interactive-hover;
    }
  }
  .button {
    padding: 0 5px;

    background: none;
    border: none;
    font-size: 13px;
    // vertical-align: top;
  }
}

// Layout filters
.tags-filters-wrapper {
  // transition: transform 0.3s ease-in-out;
  height: 130px;
  transform-origin: center top;
  transition: transform 0.35s ease-in-out,
    height 0.3s 0s ease-in-out;

  &.is-collapsed {
    transform: scaleY(0);
    height: 0;
  }
}

.tags-filters-wrapper {
  margin-bottom: 30px;
  width: 100%;
}
.tags-filters-container {
  display: flex;
  flex-direction: row;
  flex-flow: space-between;

  width: 90%;
  // height: 130px;
  height: 100%;
  margin: 0 auto;
}

.tags-filters-header,
.tags-filters-buttons-wrapper,
.hide-filters {
  height: 100%;
}

.tags-filters-header {
  flex: none;
  width: 200px;
  vertical-align: middle;
}
.tags-filters-buttons-wrapper {
  flex: 1 1 auto;
}
.hide-filters {
  flex: none;
  width: 45px;
}

.tags-filters {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.tags-filters-container,
.tags-filters-header {
  position: relative;
}

.tags-filters-container {
  margin-bottom: 12px;
}

.tags-section-title {
  margin: 0;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  white-space: nowrap;
}


.hide-filters {
  // position: absolute;
  right: 0;

  .x {
    position: relative;
    top: 50%;
    transform: translateY(-50%);

    width: 45px;
    height: 45px;

    background: red; // temp
    cursor: pointer;
    padding: 0 2px 0 1px;
  }
}
