
.tag-button {
  cursor: pointer;
}

.tags {
  .tag-button {
    border: none;
    transition: background-color 0.3s $easeInOutSine,
                color 0.3s $easeInOutSine;

    &:hover {
      background-color: $interactive-hover;
      color: white;
      &:after {
        color: white;
      }
    }

    &.tag-button-inactive:after {
      content: '+';
      padding-bottom: 6px;
      transition: color 0.5s ease;
    }
    &.tag-button-active:after {
      content: '\2013';    // ndash
      padding-bottom: 6px;
      transition: color 0.5s ease;
    }
  }
}
