
.tag-button {
  cursor: pointer;
  margin: 0 12px;
}

.tags {
  .tag-button {
    margin-right: 0.5%;
    height: 36px;
    padding: 1px 6px 4px;

    border: none;
    font-size: 15px;

    transition: background-color 0.3s $easeInOutSine,
                color 0.3s $easeInOutSine;

    &:hover {
      background-color: $interactive-hover;
      color: white;
      &:after {
        color: white;
      }
    }

    &.tag-button-inactive:after {
      content: '+';
      padding-bottom: 6px;
      transition: color 0.5s ease;
    }
    &.tag-button-active:after {
      content: '\2013';    // ndash
      padding-bottom: 6px;
      transition: color 0.5s ease;
    }
  }
}
