
.tag-button {
  cursor: pointer;
}

.tags {
  $tagsTransitionLength: 0.3s;
  $activeTagBackground: lighten( desaturate($interactive-hover, 15%), 30% );
  
  .tag-button {
    border: none;
    transition: background-color $tagsTransitionLength $easeInOutSine,
                color $tagsTransitionLength $easeInOutSine;

    &:hover {
      background-color: $interactive-hover;
      color: white;
      &:after {
        color: white;
        transition: color $tagsTransitionLength $easeInOutSine;
      }
    }

    &.tag-button-inactive:after,
    &.tag-button-active:after {
      padding-bottom: 6px;
    }

    &.tag-button-inactive:after {
      content: '+';
    }
    &.tag-button-active {
      background-color: $activeTagBackground;

      &:after {
        content: '\2013';    // ndash
      }
    }
  }
}
