/* Hidden checkbox for responsive menu trigger */
.main-nav-trigger-label {
  display: none;
}

$barHeight: 2;
$iconHeight: 24;
.main-nav-trigger-label {
  position: relative;

  // display: inline-block;
  width: 24px;
  height: 24px;

  .hamburger {
    margin-left: 12px;
  }
}
