.portfolio {
  background: url('../../img/bg.jpg') repeat black;
  color: #fff;

  h1 {
    text-align: left;
  }

  p {
    margin-bottom: 12px;
  }

  button {
    color: black;
  }

  .slates-wrapper {
    width: 100%;
    padding: 0 24px 4% 24px;
    text-align: center;

    .slates-holder {
      display: inline-block;
      margin: 0 auto;
      max-width: 1240px;
      width: 100%;
    }
  }
      
  .slate-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1%;

    background: #d0d0d0;
    border: thin solid white;
    border-radius: 1px;
  }
}


@media screen and (max-width:490px) {
  .portfolio {
    .slate-item {
      display: block;
      margin: 4% 0;
      width: 100%;
    }
  }
}


.skill-tags,
.skill-tags-active {
  margin-bottom: 12px;
}

.skill-tags {
  button:after {
    content: '+';
    color: blue;
  }
}

.skill-tags-active {
  button:after {
    content: 'x';
    color: red;
  }
}

