html {
  box-sizing: border-box;
  font-family: sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;

  background: black;
  font-family: sans-serif;
}

section,
nav {
  margin: 0;
}

p {
  margin: 0 0 24px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.footer {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;

  background: #0B0B0C;
  border-top: 1px solid #19191a;
  color: #eeeefe;
  padding: 12px;
  text-align: right;
}


/* MARGIN LEFTS */
h1 {
  color: white;
  font-size: 24px;
  margin: 0 3% 0 0;
  padding: 2% 0;
}
h1,
p {
  margin-left: 10%;
}
.main-nav-wrapper {
  padding-left: 10%;
}

@media screen and (max-width:720px) {
  h1 {
    font-size: 22px;
    padding: 3% 0;
  }

  h1,
  p {
    margin-left: 6%;
  }
  .main-nav-wrapper {
    padding-left: 6%;
  }
}
@media screen and (max-width:320px) {
  h1 {
    font-size: 18px;
    padding: 5% 0;
  }
  h1,
  p {
    margin-left: 4%;
  }
  .main-nav-wrapper {
    padding-left: 4%;
  }
}
