html {
  box-sizing: border-box;
  font-family: sans-serif; }

*, *:before, *:after {
  box-sizing: inherit; }

/*   temp temp temp temp    */
body {
  margin: 0;
  min-height: 100%;
  background: black;
  font-family: sans-serif; }

section,
nav {
  margin: 0; }

p {
  margin: 0 0 24px 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400; }

.wrapper {
  position: relative;
  min-height: 100%; }

.transparent {
  opacity: 0; }

h1 {
  color: white;
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  padding: 12px 0 0 0; }

/* MARGIN LEFTS */
h1,
p,
.skill-tags,
.skill-tags-active {
  margin-left: 10%; }

.main-nav-wrapper {
  padding-left: 10%; }

@media (max-width: 720px) {
  h1 {
    font-size: 22px;
    padding: 12px 0 0 0; }

  h1,
  p,
  .skill-tags,
  .skill-tags-active {
    margin-left: 6%; } }
@media (max-width: 330px) {
  h1 {
    font-size: 18px;
    padding: 12px 0 0 0; }

  h1,
  p,
  .skill-tags,
  .skill-tags-active {
    margin-left: 4%; } }
.main-nav-wrapper {
  position: relative;
  z-index: 314159;
  display: block;
  height: 48px;
  padding-top: 12px;
  width: 100%;
  background-color: #f0f0ff;
  border-bottom: thin solid rgba(0, 0, 0, 0.5);
  color: #0f0f11; }
  .main-nav-wrapper .main-nav {
    display: inline-block;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    white-space: nowrap; }
    .main-nav-wrapper .main-nav a {
      color: #0f0f11;
      text-decoration: none; }
      .main-nav-wrapper .main-nav a:hover {
        color: #69d4fd;
        text-decoration: none; }
    .main-nav-wrapper .main-nav .nav-item {
      cursor: pointer;
      line-height: 24px;
      font-size: 14px;
      padding: 12px 2.5% 12px 0;
      text-transform: uppercase;
      -webkit-transition: color 0.3s ease, -webkit-transform 0.3s ease;
              transition: color 0.3s ease, transform 0.3s ease; }

.main-nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #000000;
  border-top: thin solid rgba(105, 212, 253, 0.1);
  border-bottom: thin solid rgba(105, 212, 253, 0.35);
  -webkit-animation: fade-in 1.2s ease;
          animation: fade-in 1.2s ease; }
  .main-nav-sticky .main-nav a {
    color: #efefef;
    text-decoration: none; }

@-webkit-keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media (max-width: 490px) {
  .main-nav-wrapper {
    padding-left: 0;
    text-align: center; }
    .main-nav-wrapper .main-nav .nav-item {
      font-size: 12px;
      padding: 12px 1.5% 12px 0; } }
@media (max-width: 330px) {
  .main-nav-wrapper .main-nav .nav-item {
    font-size: 11px;
    padding: 12px 1% 12px 0; }
    .main-nav-wrapper .main-nav .nav-item:nth-child(1) {
      display: none; } }
.section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .section:last-of-type {
    border-bottom: none; }

.section > h1 {
  padding-top: 18px; }

.section-wrapper {
  padding-bottom: 24px; }

.tags,
.tags-active {
  margin-bottom: 12px; }

.tags button {
  margin-right: 0.5%;
  color: #000000;
  border: none;
  border-radius: 16px;
  padding: 3px 10px;
  box-shadow: none;
  -webkit-transition: background-color 0.7s ease;
          transition: background-color 0.7s ease; }
  .tags button:after {
    content: '+';
    color: black;
    -webkit-transition: color 0.5s ease;
            transition: color 0.5s ease; }
  .tags button:hover {
    background: #27ae0c;
    -webkit-animation: neon-glow-in 0.25s ease, neon-glow 1.5s 0.25s ease-in-out infinite alternate;
            animation: neon-glow-in 0.25s ease, neon-glow 1.5s 0.25s ease-in-out infinite alternate; }
    .tags button:hover:after {
      color: white; }

.tags-active button:after {
  position: relative;
  top: -1px;
  font-size: 10px;
  font-weight: bold;
  content: '\2715';
  color: black; }

@-webkit-keyframes neon-glow-in {
  0% {
    box-shadow: 0 0 0 0 #32e010, 0 0 0 0 #27ae0c; }
  100% {
    box-shadow: 0 0 2px 0.5px #32e010, 0 0 1px 0px #27ae0c; } }

@keyframes neon-glow-in {
  0% {
    box-shadow: 0 0 0 0 #32e010, 0 0 0 0 #27ae0c; }
  100% {
    box-shadow: 0 0 2px 0.5px #32e010, 0 0 1px 0px #27ae0c; } }
@-webkit-keyframes neon-glow {
  0% {
    box-shadow: 0 0 2px 0.5px #32e010, 0 0 1px 0px #27ae0c; }
  100% {
    box-shadow: 0 0 1px 0.5px #32e010, 0 0 3px 2px #27ae0c; } }
@keyframes neon-glow {
  0% {
    box-shadow: 0 0 2px 0.5px #32e010, 0 0 1px 0px #27ae0c; }
  100% {
    box-shadow: 0 0 1px 0.5px #32e010, 0 0 3px 2px #27ae0c; } }
.hero {
  position: relative;
  display: block;
  height: 360px;
  max-height: 50vw;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  background: black;
  overflow: hidden; }

.hero-vid {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin: 0 auto;
  width: 100%;
  vertical-align: middle; }

.hero-labels {
  position: relative;
  display: block; }

.title,
.tagline {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0;
  font-weight: 200;
  white-space: nowrap; }

.title,
.tagline,
.spinner-container {
  -webkit-animation: tagline-intro 1.5s 1 linear;
          animation: tagline-intro 1.5s 1 linear; }

.highlight-boxed {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px; }

.title,
.tagline {
  padding: 1% 1.2%; }

@-webkit-keyframes tagline-intro {
  0% {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0); } }

@keyframes tagline-intro {
  0% {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0); } }
@-webkit-keyframes hero-labels-intro {
  0% {
    -webkit-transform: translate(15%, 72%) scale(1.05);
            transform: translate(15%, 72%) scale(1.05); } }
@keyframes hero-labels-intro {
  0% {
    -webkit-transform: translate(15%, 72%) scale(1.05);
            transform: translate(15%, 72%) scale(1.05); } }
/* TRANSLATES */
.hero-labels {
  -webkit-transform: translate(10%, 72%);
      -ms-transform: translate(10%, 72%);
          transform: translate(10%, 72%);
  -webkit-transform-origin: 20% center;
      -ms-transform-origin: 20% center;
          transform-origin: 20% center;
  -webkit-animation: hero-labels-intro 1.2s ease;
          animation: hero-labels-intro 1.2s ease; }

.title {
  -webkit-transform: translate(0%, 0%);
      -ms-transform: translate(0%, 0%);
          transform: translate(0%, 0%); }

.spinner-container {
  top: 72px;
  -webkit-transform: translate(42%, 0%);
      -ms-transform: translate(42%, 0%);
          transform: translate(42%, 0%); }

.hero-labels,
.title,
.spinner-container {
  -webkit-transition: -webkit-transform 0.1s ease;
          transition: transform 0.1s ease; }

.spinner-container {
  display: inline-block;
  position: relative;
  height: 60px;
  padding-right: 12px; }
  .spinner-container .spinner {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 142px;
    padding: 0 0 0 12px;
    overflow: hidden; }
    .spinner-container .spinner .verbs {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      -webkit-animation: spinner-spin 4s 1.75s ease;
              animation: spinner-spin 4s 1.75s ease; }
      .spinner-container .spinner .verbs .verb {
        top: -60px;
        display: block;
        padding: 6px 0; }
  .spinner-container .experiences {
    position: relative;
    top: 6px;
    margin-left: 154px; }

@-webkit-keyframes spinner-spin {
  0% {
    top: 0; }
  20% {
    top: -60px; }
  25% {
    top: -60px; }
  45% {
    top: -120px; }
  50% {
    top: -120px; }
  70% {
    top: -180px; }
  75% {
    top: -180px; }
  95% {
    top: -240px; }
  95.001% {
    top: 0px; } }

@keyframes spinner-spin {
  0% {
    top: 0; }
  20% {
    top: -60px; }
  25% {
    top: -60px; }
  45% {
    top: -120px; }
  50% {
    top: -120px; }
  70% {
    top: -180px; }
  75% {
    top: -180px; }
  95% {
    top: -240px; }
  95.001% {
    top: 0px; } }
.title {
  font-size: 42px; }

.spinner-container {
  font-size: 38px;
  line-height: 48px; }

@media (max-width: 720px) {
  .hero-labels {
    -webkit-transform: translate(2%, 72%);
        -ms-transform: translate(2%, 72%);
            transform: translate(2%, 72%); }

  .title {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }

  .spinner-container {
    -webkit-transform: translate(37%, 0%);
        -ms-transform: translate(37%, 0%);
            transform: translate(37%, 0%); }

  .title {
    font-size: 36px; } }
@media (max-width: 330px) {
  .title {
    padding: 2%; }

  .hero-labels {
    -webkit-transform: translate(1%, 72%);
        -ms-transform: translate(1%, 72%);
            transform: translate(1%, 72%); }

  .title {
    -webkit-transform: translate(0%, 0%);
        -ms-transform: translate(0%, 0%);
            transform: translate(0%, 0%); }

  .spinner-container {
    -webkit-transform: translate(37%, 0%);
        -ms-transform: translate(37%, 0%);
            transform: translate(37%, 0%); }

  .title {
    font-size: 24px; } }
.portfolio {
  background: url("../../img/bg.jpg") repeat black;
  border-top: 1px solid rgba(39, 174, 12, 0.05);
  border-bottom: 1px solid rgba(39, 174, 12, 0.15); }
  .portfolio h1 {
    color: #efe;
    text-align: left; }
  .portfolio p {
    color: #efe;
    margin-bottom: 12px; }
  .portfolio .tags button:not(:hover) {
    background: #efe; }
  .portfolio .slates-wrapper {
    width: 100%;
    padding: 0 24px 4% 24px;
    text-align: center; }
    .portfolio .slates-wrapper .slates-holder {
      display: inline-block;
      margin: 0 auto;
      max-width: 1240px;
      width: 100%; }
  .portfolio .slate-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1%;
    background: #d0d0d0;
    border: thin solid white;
    border-radius: 1px; }

@media (max-width: 490px) {
  .portfolio .slate-item {
    display: block;
    margin: 4% 0;
    width: 100%; } }
.publications {
  background: url("../../img/typewriter.jpg") center 48px no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 800px; }

.skills {
  color: white; }

.about {
  color: white; }

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background: #0B0B0C;
  border-top: 1px solid #19191a;
  color: #eeeefe;
  padding: 12px;
  text-align: right; }

footer {
  background: transparent;
  padding-top: 48px; }
