html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/*   temp temp temp temp    */
body {
  margin: 0;
  min-height: 100%;
  background: black;
  font-family: 'Open Sans', sans-serif; }

section,
nav {
  margin: 0; }

p {
  margin: 0 0 24px 0; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400; }

.wrapper {
  position: relative;
  min-height: 100%;
  z-index: 1; }

.transparent {
  opacity: 0; }

h1 {
  color: white;
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  padding: 12px 0 0 0; }

/* MARGIN LEFTS */
h1,
p,
.skill-tags,
.skill-tags-active {
  margin-left: 10%; }

.main-nav-wrapper {
  padding-left: 10%; }

@media (max-width: 720px) {
  h1 {
    font-size: 22px;
    padding: 12px 0 0 0; }

  h1,
  p,
  .skill-tags,
  .skill-tags-active {
    margin-left: 6%; } }
@media (max-width: 330px) {
  h1 {
    font-size: 18px;
    padding: 12px 0 0 0; }

  h1,
  p,
  .skill-tags,
  .skill-tags-active {
    margin-left: 4%; } }
.main-nav-wrapper {
  position: relative;
  z-index: 314159;
  display: block;
  height: 48px;
  padding-top: 12px;
  width: 100%;
  background-color: #f0f0ff;
  border-bottom: thin solid rgba(0, 0, 0, 0.5);
  color: #0f0f11; }
  .main-nav-wrapper .main-nav {
    display: inline-block;
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
    white-space: nowrap; }
    .main-nav-wrapper .main-nav a {
      color: #0f0f11;
      text-decoration: none; }
      .main-nav-wrapper .main-nav a:hover {
        color: #69d4fd;
        text-decoration: none; }
    .main-nav-wrapper .main-nav .nav-item {
      cursor: pointer;
      line-height: 24px;
      font-size: 14px;
      padding: 12px 2.5% 12px 0;
      text-transform: uppercase;
      transition: color 0.3s ease, transform 0.3s ease; }

.main-nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: #000000;
  border-top: thin solid rgba(105, 212, 253, 0.1);
  border-bottom: thin solid rgba(105, 212, 253, 0.35);
  animation: fade-in 1.2s ease; }
  .main-nav-sticky .main-nav a {
    color: #efefef;
    text-decoration: none; }

@keyframes fade-in {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@media (max-width: 490px) {
  .main-nav-wrapper {
    padding-left: 0;
    text-align: center; }
    .main-nav-wrapper .main-nav .nav-item {
      font-size: 12px;
      padding: 12px 1.5% 12px 0; } }
@media (max-width: 330px) {
  .main-nav-wrapper .main-nav .nav-item {
    font-size: 11px;
    padding: 12px 1% 12px 0; }
    .main-nav-wrapper .main-nav .nav-item:nth-child(1) {
      display: none; } }
.section {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .section:last-of-type {
    border-bottom: none; }

.section > h1 {
  padding-top: 18px; }

.section-wrapper {
  padding-bottom: 24px; }

.tags,
.tags-active {
  margin-bottom: 12px; }

.tag-button {
  margin: 0 3px 12px 3px; }

.tags button {
  margin-right: 0.5%;
  color: #000000;
  border: none;
  border-radius: 16px;
  padding: 3px 10px;
  box-shadow: none;
  transition: background-color 0.7s ease; }
  .tags button:after {
    content: '+';
    color: black;
    transition: color 0.5s ease; }
  .tags button:hover {
    background: #27ae0c;
    animation: neon-glow-in 0.15s ease, neon-glow 0.75s 0.15s ease-in-out infinite alternate; }
    .tags button:hover:after {
      color: white; }

.tags-active button:hover:after {
  color: #fcc; }
.tags-active button:after {
  position: relative;
  top: -1px;
  font-size: 10px;
  font-weight: bold;
  content: '\2715';
  color: black; }

@keyframes neon-glow-in {
  0% {
    box-shadow: 0 0 0 0 #32e010, 0 0 0 0 #27ae0c; }
  100% {
    box-shadow: 0 0 2px 0.5px #32e010, 0 0 1px 0px #27ae0c; } }
@keyframes neon-glow {
  0% {
    box-shadow: 0 0 2px 0.5px #32e010, 0 0 1px 0px #27ae0c; }
  100% {
    box-shadow: 0 0 1px 0.5px #32e010, 0 0 3px 2px #27ae0c; } }
tagged-item .cover {
  position: relative;
  width: 100%;
  height: 100%;
  background-position: center bottom;
  background-size: cover;
  overflow: hidden; }
tagged-item .item {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0 0 1% 3%;
  font-size: 16px;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap; }

.item-modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 32, 0, 0.85);
  pointer-events: none; }
  .item-modal-wrapper .item-modal {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    display: block;
    width: 90%;
    height: 80%;
    background: white;
    overflow-x: hidden;
    overflow-y: auto; }

.hero {
  position: relative;
  display: block;
  height: 360px;
  max-height: 50vw;
  color: white;
  background: rgba(255, 255, 255, 0.4);
  background: black;
  overflow: hidden;
  vertical-align: middle; }

.hero-vid {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.hero-labels {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  max-width: 800px; }

.title,
.tagline {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  margin: 0;
  font-weight: 200;
  white-space: nowrap; }

.title,
.tagline,
.spinner-container {
  animation: tagline-intro 1.5s 1 linear; }

.highlight-boxed {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px; }

.title,
.tagline {
  padding: 1% 1.2%; }

@keyframes tagline-intro {
  0% {
    -webkit-filter: blur(4px);
    filter: blur(4px); }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0); } }
.title {
  position: relative;
  top: 0px;
  display: inline-block;
  width: auto; }

.spinner-container {
  position: relative;
  top: 2px;
  margin-left: 18%;
  display: block; }

.spinner-container {
  display: inline-block;
  position: relative;
  height: 60px;
  padding-right: 12px; }
  .spinner-container .spinner {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    display: inline-block;
    height: 60px;
    width: 148px;
    overflow: hidden; }
    .spinner-container .spinner .verbs {
      position: absolute;
      display: block;
      height: 100%;
      width: 100%;
      text-align: center;
      animation: spinner-spin 3.5s 1.75s ease; }
      .spinner-container .spinner .verbs .verb {
        top: -60px;
        display: block;
        padding: 6px 0; }
  .spinner-container .experiences {
    position: relative;
    top: 6px;
    margin-left: 154px; }

@keyframes spinner-spin {
  0% {
    top: 0; }
  20% {
    top: -60px; }
  25% {
    top: -60px; }
  45% {
    top: -120px; }
  50% {
    top: -120px; }
  70% {
    top: -180px; }
  75% {
    top: -180px; }
  95% {
    top: -240px; }
  95.001% {
    top: 0px; } }
.title {
  font-size: 42px; }

.spinner-container {
  font-size: 38px;
  line-height: 48px; }

/* TRANSLATES */
.hero-labels {
  transition: transform 0.25s ease;
  transform-origin: 20% center;
  transform: translate(25%, 72%) scale(1);
  animation: hero-labels-intro 1.2s ease; }

@keyframes hero-labels-intro {
  0% {
    transform: translate(30%, 72%) scale(1.05); } }
@media (max-width: 1200px) {
  @keyframes hero-labels-intro {
    0% {
      transform: translate(25%, 72%) scale(1.05); } }
  .hero-labels {
    transform: translate(12%, 60%) scale(0.9); } }
@media (max-width: 720px) {
  @keyframes hero-labels-intro {
    0% {
      transform: translate(15%, 72%) scale(1); } }
  .hero-labels {
    transform: translate(8%, 40%) scale(0.7); } }
@media (max-width: 330px) {
  @keyframes hero-labels-intro {
    0% {
      transform: translate(10%, 72%) scale(0.9); } }
  .hero-labels {
    transform: translate(-3%, 20%) scale(0.55); } }
.portfolio {
  background: url("../../img/bg.jpg") repeat black;
  border-top: 1px solid rgba(39, 174, 12, 0.05);
  border-bottom: 1px solid rgba(39, 174, 12, 0.15);
  color: #efe; }
  .portfolio h1 {
    text-align: left; }
  .portfolio p {
    margin-bottom: 12px; }
  .portfolio .tags button:not(:hover) {
    background: #efe; }
  .portfolio .slates-wrapper {
    width: 100%;
    padding: 0 24px 4% 24px;
    text-align: center; }
    .portfolio .slates-wrapper .slates-holder {
      display: inline-block;
      margin: 0 auto;
      max-width: 1480px;
      width: 100%; }
  .portfolio .slate-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1%;
    background: #d0d0d0;
    border: thin solid white;
    border-radius: 1px; }

@media (max-width: 490px) {
  .portfolio .slate-item {
    display: block;
    margin: 4% 0;
    width: 100%; } }
.publications {
  background: url("../../img/typewriter.jpg") center 48px no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  min-height: 800px; }

.pubs-wrapper {
  vertical-align: center; }
  .pubs-wrapper .pub-item {
    display: block;
    width: 80%;
    max-width: 1480px;
    height: 36px;
    margin: 0 auto 6px auto;
    background: rgba(0, 0, 0, 0.65);
    color: white;
    font-size: 16px;
    line-height: 24px;
    padding: 6px 0 0 1%; }

.skills {
  color: white; }

.about {
  background: #ffffff;
  color: black; }
  .about h1 {
    color: black; }

.footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  background: #0B0B0C;
  border-top: 1px solid #19191a;
  color: #eeeefe;
  padding: 12px;
  text-align: right; }

footer {
  background: transparent;
  padding-top: 48px; }

/*# sourceMappingURL=styles.css.map */
