content {
  display: block;
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

content-item {
  display: block;
  max-width: 1024px;
  margin: 0 auto;

  padding: 12px;
}

content-item p {
  text-align: left;
  text-indent: 2em;
}
