nav-bar {
  display: block;

  ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
  }
  nav-bar ul li {
    display: inline-block;
  }
}

nav-item {
  display: inline-block;
  margin: 0 1%;
  width: 30%;

  background: transparent;
  // overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  a {
    cursor: pointer;
  }
}

.main-nav {
  width: 100%;

  margin: 0 auto;
  padding-bottom: 6px;
  text-overflow: ellipsis;

  box-shadow: $nav-box-shadow;
}

.main-nav>nav-item {
  position: relative;
  height: 100%;
  font-size: 20px;
  line-height: 24px;
  overflow: hidden;
  vertical-align: top;
  
  a {
    height: inherit;
    user-select: none;
  }
}


.sub-nav {
  display: block;

  width: 100%;
  cursor: default;
}
.sub-nav nav-item {
  // border-bottom: thin solid black;
  font-size: 14px;
  line-height: 18px;
  overflow: hidden;
  margin: 0 1%;
}

$sub-nav: 24;
$sub-nav-doodad-height: 12;

$tL: 0.2; // transitionLength
.sub-nav-doodad {
  display: block;
  height: 12px;
  margin: 3px auto;
  max-width: 640px;
  width: 100%;

  line {
    fill: none;
    stroke: #222222;
  }

  .mid,
  .z line:nth-child(1),
  .z line:nth-child(3) {
    stroke-dasharray: 12;
    stroke-dashoffset: 12;
  }
  .z {
    line:nth-child(2) {
      stroke-dasharray: 110%;
      stroke-dashoffset: 110%;
    }
  }

  .mid {
    transition: stroke-dashoffset #{$tL}s linear;
  }
  .z {
    line:nth-child(1) {
      transition: stroke-dashoffset #{$tL*0.1}s #{$tL*0.9}s linear;
    }
    line:nth-child(2) {
      transition: stroke-dashoffset #{$tL*0.8}s #{$tL*0.1}s linear;
    }
    line:nth-child(3) {
      transition: stroke-dashoffset #{$tL*0.1}s linear;
    }
  }
}

/*Activate anim*/
$transition-length: 0.27;
.sub-nav {
  opacity: 0;
}
.sub-nav-container {
  height: 0;
  opacity: 0;
  transition: height 0.15s #{$transition-length}s linear,
    opacity #{$transition-length * 1.5}s 0s linear;
}
.active {
  .sub-nav-container {
    opacity: 1;
    height: #{$sub-nav-doodad-height + $sub-nav}px;
    transition: height #{$transition-length}s linear,
      opacity 0.75s 0s linear;
  }

  .sub-nav {
    opacity: 1;
    height: #{$sub-nav}px;
    transition: opacity 0.75s #{$transition-length/3}s linear;
  }

  .sub-nav-doodad {
    height: #{$sub-nav-doodad-height}px;

    line,
    .z line {
      stroke-dashoffset: 0;
    }

    .z {
      line:nth-child(1) {
        transition: stroke-dashoffset #{$tL*0.1}s linear;
      }
      line:nth-child(2) {
        transition: stroke-dashoffset #{$tL*0.8}s #{$tL*0.1}s linear;
      }
      line:nth-child(3) {
        transition: stroke-dashoffset #{$tL*0.1}s #{$tL*0.9}s linear;
      }
    }
  }
}
