// $nav-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.25);
$nav-box-divider-color: rgb(143,191,239);
$nav-box-divider-color-015: rgba(143,191,239,0.15);
$nav-box-divider-color-border: rgba(143,191,239,0.25);
$nav-box-shadow: 0px 6px 12px 0px #{$nav-box-divider-color-015};

$base-font-color: #F6FCFF;

@import 'resets';
@import 'nav';
@import 'content';
@import 'styles';

@import 'breaks';
