
/* Top "margin" */
@media screen and (max-width:720px) {
  #site-nav-trigger ~ .site-nav-trigger-label {
    top: 18px;
  }
  .portfolio-wrapper {
    padding-top: 18px;
  }
}

@media screen and (max-width:720px) {
  #main-nav-trigger ~ nav .main-nav {
    height: 0;
    transform: scaleY(0);
  }
  #main-nav-trigger:checked ~ nav .main-nav {
    height: auto;
    transform: scaleY(1);
  }

  .title,
  .main-nav-trigger-label {
    display: inline-block;
    vertical-align: top;
  }
  .title {
    font-size: 20px;
    margin: 0 0 12px 0;
  }

  #main-nav-trigger:checked + .main-nav-trigger-label {
    .hamburger {
      top: -1px;
    }
  }

  .main-nav {
    padding-bottom: 6px;

    &>nav-item {
      display: block;
      margin-bottom: 6px;
      width: 100%;
    }
  }

  .sub-nav-container {
    opacity: 1;

    .sub-nav {
      nav-item {
        opacity: 1;
        transform: scaleY(1);
      }
    }

    .sub-nav-doodad {
      .mid,
      line,
      .z line,
      .z line:nth-child(n) {
        stroke-dashoffset: 0;
      }
    }
  }
}

@media screen and (max-width:320px) {
  .title {
    font-size: 18px;
  }

  .main-nav {
    padding-bottom: 6px;

    &>nav-item {
      font-size: 16px;
      line-height: 24px;
    }
  }
}
