
.footer {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;

  background: #0B0B0C;
  border-top: 1px solid #19191a;
  color: #eeeefe;
  padding: 12px;
  text-align: right;
}

// Hacky spacing fix for footer.
footer {
  background: transparent;
  padding-top: 48px;
}
