
.footer {
  position: absolute;
  bottom: 0;

  display: block;
  width: 100%;

  background: #0B0B0C;
  border-top: 1px solid #19191a;
  color: #eeeefe;
  padding: 12px;
  text-align: right;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  a {
    color: white;
  }
  .copyrights {
    float: left;
    text-align: left;
    font-size: 12px;
  }
  .contact {
    float: right;
  }
}

// Hacky spacing fix for footer.
footer {
  background: transparent;
  padding-top: 48px;
}
