.hero {
  position: relative;

  display: block;
  height: 360px;
  max-height: 50vw;

  color: white;
  background: rgba(255,255,255, 0.4);
  background: black;
  overflow: hidden;
}

.hero-vid {
  position: absolute;
  bottom: 0;

  display: inline-block;
  margin: 0 auto;
  width: 100%;
  
  vertical-align: middle;
}

.hero-labels {
  position: relative;
  display: block;

  transform-origin: 20% center;
  animation: tagline-labels-intro 0.75s 1 linear;
  transition: left 0.2s linear;
}

.title,
.tagline {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  margin: 0;

  font-weight: 200;
  white-space: nowrap;

  animation: tagline-intro 1.5s 1 linear;
}

.highlight-boxed {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
}
.title,
.tagline {
  padding: 1% 1.2%;
}

@keyframes tagline-intro {
  0% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

@keyframes tagline-labels-intro {
  0%   { transform: scale(1.15); }
  100% { transform: scale(1); }
}

.hero-labels {
  left: 12%;
}

.title,
.tagline {
  transition: transform 0.1s ease;
}
.title {
  transform: translate(0%, 45%);

  font-size: 42px;
}
.tagline {
  transform: translate(13%, 200%);

  font-size: 38px;
}

@media screen and (max-width:720px) {
  .hero-labels {
    left: 12%;
  }
  .title {
    font-size: 36px;
  }
  .tagline {
    font-size: 30px;
  }
}

@media screen and (max-width:320px) {
  .hero-labels {
    left: 1%;
  }

  .title,
  .tagline {
    padding: 2%
  }
  .title {
    font-size: 24px;
  }
  .tagline {
    font-size: 20px;
  }
}



.spinner-container {
  display: inline-block;
  position: relative;
  height: 60px;
  padding-right: 12px;

  font-size: 36px;
  line-height: 48px;
  // transform: translate(0%, 200px);
  transform: translate(42%, 162%);

  .spinner {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;

    display: inline-block;
    height: 60px;
    width: 152px;
    padding: 0 0 0 12px;
    
    overflow: hidden;

    .verbs {
      position: absolute;

      display: block;
      height: 100%;
      width: 100%;

      animation: spinner-spin 4s 0.5s ease;

      .verb {
        top: -60px;
        display: block;
        padding: 6px 0;
      }
    }
  }

  .experiences {
    position: relative;
    top: 6px;
    margin-left: 160px;
  }
}

$verbHeight: 60;
@keyframes spinner-spin {
  0% { top: 0; }
  20% { top: -#{ $verbHeight * 1 }px; }
  25% { top: -#{ $verbHeight * 1 }px; }
  45% { top: -#{ $verbHeight * 2 }px; }
  50% { top: -#{ $verbHeight * 2 }px; }
  70% { top: -#{ $verbHeight * 3 }px; }
  75% { top: -#{ $verbHeight * 3 }px; }
  95% { top: -#{ $verbHeight * 4 }px; }
  95.001% { top: 0px; }
}
