.hero {
  position: relative;

  display: block;
  height: 360px;
  max-height: 50vw;

  color: white;
  background: rgba(255,255,255, 0.4);
  background: black;
  overflow: hidden;
}

.hero-vid {
  position: absolute;
  bottom: 0;

  display: inline-block;
  margin: 0 auto;
  width: 100%;
  
  vertical-align: middle;
}

.hero-labels {
  position: relative;
  display: block;

  // transform-origin: 20% center;
  // transition: left 0.2s linear;
}
.title,
.tagline {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  margin: 0;

  font-weight: 200;
  white-space: nowrap;

}

.title,
.tagline,
.spinner-container {
  animation: tagline-intro 1.5s 1 linear;
}


.highlight-boxed {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 1px;
}
.title,
.tagline {
  padding: 1% 1.2%;
}

@keyframes tagline-intro {
  0% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
  }
}

// @keyframes tagline-labels-intro {
//   0%   { transform: scale(1.15); }
//   100% { transform: scale(1); }
// }
@keyframes hero-labels-intro {
  0%   { transform: translate(15%, 72%) scale(1.05); }
  100% {}
}

/* TRANSLATES */

.hero-labels {
  transform: translate(10%, 72%);
  transform-origin: 20% center;
  animation: hero-labels-intro 1.2s ease;
}
.title {
  transform: translate(0%, 0%);
}
.spinner-container {
  top: 72px;
  transform: translate(42%, 0%);
}

.hero-labels,
.title,
.spinner-container {
  transition: transform 0.1s ease;
}

.spinner-container {
  display: inline-block;
  position: relative;
  height: 60px;
  padding-right: 12px;

  .spinner {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;

    display: inline-block;
    height: 60px;
    width: 142px;
    padding: 0 0 0 12px;
    
    overflow: hidden;

    .verbs {
      position: absolute;

      display: block;
      height: 100%;
      width: 100%;

      animation: spinner-spin 4s 1.75s ease;

      .verb {
        top: -60px;
        display: block;
        padding: 6px 0;
      }
    }
  }

  .experiences {
    position: relative;
    top: 6px;
    margin-left: 154px;
  }
}

$verbHeight: 60;
@keyframes spinner-spin {
  0% { top: 0; }
  20% { top: -#{ $verbHeight * 1 }px; }
  25% { top: -#{ $verbHeight * 1 }px; }
  45% { top: -#{ $verbHeight * 2 }px; }
  50% { top: -#{ $verbHeight * 2 }px; }
  70% { top: -#{ $verbHeight * 3 }px; }
  75% { top: -#{ $verbHeight * 3 }px; }
  95% { top: -#{ $verbHeight * 4 }px; }
  95.001% { top: 0px; }
}


.title {
  font-size: 42px;
}
.spinner-container {
  font-size: 38px;
  line-height: 48px;
}
@include respond-to(medium) {
  .hero-labels {
    transform: translate(2%, 72%);
  }
  .title {
    transform: translate(0%, 0%);
  }
  .spinner-container {
    transform: translate(37%, 0%);
  }

  .title {
    font-size: 36px;
  }
  // .spinner-container {
  //   font-size: 24px;
  //   line-height: 24px;
    
  //   .spinner {
  //     height: 24px;
  //   }
  // }
}

@include respond-to(x-small) {
  .title {
    padding: 2%
  }
  .hero-labels {
    transform: translate(1%, 72%);
  }
  .title {
    transform: translate(0%, 0%);
  }
  .spinner-container {
    transform: translate(37%, 0%);
  }

  .title {
    font-size: 24px;
  }
  // .spinner-container {
  //   font-size: 20px;
  //   line-height: 24px;

  //   .spinner {
  //     height: 24px;
  //   }
  // }
}

