.journalism {
  background: white;
  color: black;

  padding-bottom: 48px;
  
  .pubs-wrapper {
    vertical-align: center;

    .pub-item {
      // background: rgba(0,0,0, 0.15);
      background: #c7c7c7;
      color: black;
    }
  }
}