.main-nav-wrapper {
  position: relative;

  display: block;
  height: 48px;
  width: 100%;

  background-color: $almost-white;
  border-bottom: thin solid rgba(0, 0, 0, 0.5);
  color: $almost-black;

  .main-nav {
    position: relative;
    display: inline-block;
    vertical-align: middle;

    margin: 0;
    max-width: 960px;
    padding-top: 1px;
    padding-right: 3em;
    width: 100%;
    height: 100%;
    white-space: nowrap;

    .nav-item {
      // color: #0f110f;
      color: $almost-black;
      text-decoration: none;

      &:hover {
        color: $interactive-hover;
        text-decoration: none;
      }
    }

    // .nav-item:not(.nav-logo) {
    .nav-item {
      display: inline-block;
      vertical-align: middle;

      cursor: pointer;
      line-height: 24px;
      font-size: 14px;
      // padding: 12px 2.5% 12px 0;
      padding: 0 2.5% 0 0;
      text-transform: uppercase;

      transition: color 0.3s $easeInOutSine,
        transform 0.3s $easeInOutSine;
    }
    .nav-item.nav-logo {
      overflow: visible;

      & #logo-svg {
        position: relative;
        top: 3px;
        left: 0;
        height: 36px;

        fill: #0f110f;
        transition: fill 0.3s $easeInOutSine,
          transform 0.3s $easeInOutSine;

        &:hover {
          fill: #5AD46F;
        }
      }
    }
  }
}

.main-nav-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  background-color: #000000;
  border-top: thin solid rgba(105, 212, 253, 0.1);
  border-bottom: thin solid rgba(105, 212, 253, 0.35);
  // color: #efefef;

  animation: fade-in 1.2s $easeInOutSine;

  .main-nav {
    .nav-item {
      color: #eff3ef;
      text-decoration: none;

      &.nav-logo #logo-svg {
        fill: #eff3ef;
      }
      // &:hover {
      //   color: #69d4fd;
      //   text-decoration: none;
      // }
    }
  }

  // #logo-svg {
  //   fill: #efefef;
  // }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@include respond-to(small) {
  .main-nav-wrapper {
    padding-left: 0;
    text-align: left;
    padding-top: 2%;

    .main-nav {
      margin-left: 1.5%;


      .nav-item {
        font-size: 12px;
        // padding: 12px 1.5% 12px 0;
        padding: 0 1.5% 0 0;
      }

      .nav-item.nav-logo {
        & #logo-svg {
          height: 24px;
        }
      }
    }
  }
}
@include respond-to(x-small) {
  .main-nav-wrapper {
    // padding-left: 2%;

    .main-nav {
      padding-right: 0;

      .nav-item {
        // display: inline-block;
        // width: 16%;
        font-size: 11px;
        // padding: 12px 1% 12px 0;
        padding: 0 1% 0 0;

        // transform: rotate(35deg) translateY(-38%);

        // &:nth-child(1) {
        //   display: none;
        // }
      }
    }
  }
}
