.portfolio {
  background: url('../../img/bg.jpg') repeat black;
  border-top: 1px solid rgba(39, 174, 12, 0.05);
  border-bottom: 1px solid rgba(39, 174, 12, 0.15);
  
  color: #efe;
  
  h1 {
    text-align: left;
  }

  p {
    margin-bottom: 12px;
  }

  // .tags button:not(:hover) {
  //   background: #efe;
  // }

  .slates-wrapper {
    width: 100%;
    // padding: 0 24px 4% 24px;
    padding: 0;
    padding-bottom: 4%;
    // text-align: center;

    .slates-holder {
      display: inline-block;
      margin: 0 auto;
      max-width: 1480px;
      width: 100%;
    }
  }
      
  .slate-item {
    display: inline-block;
    width: 200px;
    height: 200px;
    margin: 1%;

    background: #d0d0d0;
    border: thin solid $almost-white;
    border-radius: 1px;

    text-shadow: 0px  2px 0 black,
                 1px  1px 0 black,
                -1px -1px 0 black,
                 1px -1px 0 black,
                -1px  1px 0 black;


    .item {
      background: rgba(0,0,0, 0.25);
      // background: rgba(255,255,255, 0.25);
      padding: 0 0 3px 3px;
      width: 100%;
    }

    .cover.w-modal:hover {
      // border: 3px solid $interactive-hover;

      &:before, &:after {
        position: absolute;
        opacity: 1;
      }
      &:before {
        top: 5px;
        right: 12px;
        display: block;
        width: 20px;
        height: 20px;

        content: '';
        background: transparent;
        border: 4px solid $interactive-hover;
        border-radius: 50%;

        box-shadow: 1px 4px 2px 0px black;
      }
      &:after {
        top: 21px;
        right: 14px;
        display: block;
        height: 10px;
        width: 4px;

        content: '';
        background: $interactive-hover;
        transform-origin: top center;
        border-bottom-right-radius: 15%;
        border-bottom-left-radius: 15%;
        transform: rotate(-45deg);

        box-shadow: -3px 3px 2px 0px black;
      }
    }
  }

  .item-tags {
    display: none;
  }
}

@include respond-to(small) {
  .portfolio {
    .slate-item {
      display: block;
      margin: 4% 0;
      width: 100%;
    }
  }
}
