.publications {
  // background: url('../../img/typewriter.jpg') center 48px no-repeat;
  // background: url('../../img/typewriter-mid.jpg') center 48px no-repeat #333;
  background: #333;
  background-size: cover;
  background-attachment: fixed;
  color: white;

  padding-bottom: 48px;
}


.pubs-wrapper {
  vertical-align: center;

  .pub-item {
    display: block;
    min-height: 36px;
    margin-bottom: 6px;

    background: #090909;
    color: white;
    padding: 6px 0 6px 1%;

    &.w-url,
    &.w-modal {
      padding-right: 40px;
    }

    .item {
      position: relative;
      font-size: 16px;
      line-height: 18px;
    }

    .item-title {
      line-height: 24px;
    }
    .item-venue,
    .item-tags {
      line-height: 18px;
      font-size: 14px;
      font-weight: 300;
    }
    .item-title,
    .item-venue,
    .item-tags {
      display: inline-block;
    }
    .item-venue:before,
    .item-tags:before {
      content: '- ';
    }
    .item-tags {
      white-space: nowrap;

      .item-tag {
        font-size: 14px;

        &:after {
          content: ', ';
        }

        &:last-of-type {
          &:after {
            content: '';
          }
        }
      }
    }
  }
}


@include respond-to(small) {
  .pubs-wrapper {
    .pub-item .item {
      padding-left: 2%;

      .item-venue,
      .item-tags {
        font-size: 14px;
      }

      .item-title,
      .item-venue,
      .item-tags {
        display: block;
      }
      .item-venue:before,
      .item-tags:before {
        display: none;
      }

      .item-tags {
        .item-tag {
          font-size: 12px;
        }
      }
    }
  }
}
@include respond-to(x-small) {
  .pubs-wrapper {
    .pub-item .item {
      font-size: 12px;

      .item-tags {
        .item-tag {
          font-size: 10px;
        }
      }
    }
  }
}
