.skills {
  // .section-content>h1,
  // .section-content>h3,
  // .skills-wrapper {
  //   margin: 0 auto;
  //   max-width: 980px;
  // }
}
.skills-wrapper {
  display: flex;
  flex-flow: row wrap;

  font-size: 15px;

  .skills-segment-header {
    margin-bottom: 3px;
  }

  .skills-list-container {
    flex: 0 0 auto;
    width: 230px;
  }

  ul ul {
    margin-bottom: 0;
  }
}

.skills {
  background: url('http://connorthomascleary.com/ctc2015/img/bg.jpg') repeat black;
  color: white;
}

.skills small {
  color: #bfbfbf;
}


// @include respond-to(x-large) {
//   .skills-wrapper {
//     margin: 0;
//   }
// }
// @include respond-to(large) {
//   .skills-wrapper {
//     margin: 0 auto;
//   }
// }