html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


/*   temp temp temp temp    */
section>div {
  // outline: thin solid red;
}

body {
  margin: 0;
  min-height: 100%;

  background: black;
  font-family: 'Open Sans', sans-serif;
}

section,
nav {
  margin: 0;
}

p {
  margin: 0 0 24px 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 400;
}

.wrapper {
  position: relative;
  min-height: 100%;
}

.transparent {
  opacity: 0;
}


h1 {
  color: white;
  font-size: 24px;
  margin: 0;
  margin-bottom: 24px;
  padding: 12px 0 0 0;
}

/* MARGIN LEFTS */
h1,
p,
.skill-tags,
.skill-tags-active {
  margin-left: 10%;
}
.main-nav-wrapper {
  padding-left: 10%;
}

@include respond-to(medium) {
  h1 {
    font-size: 22px;
    padding: 12px 0 0 0;
  }

  h1,
  p,
  .skill-tags,
  .skill-tags-active {
    margin-left: 6%;
  }
}
@include respond-to(x-small) {
  h1 {
    font-size: 18px;
    padding: 12px 0 0 0;
  }
  h1,
  p,
  .skill-tags,
  .skill-tags-active {
    margin-left: 4%;
  }
}
