html {
  // text-align: center;
  // margin: 0 auto;
}

body {
  margin: 0;

  background: url('../../img/bg.jpg') repeat black;
  color: $base-font-color;
}

.hidden {
  display: none;
}

portfolio {
  display: block;
}

.portfolio-wrapper {
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;

  .title {
    text-transform: uppercase;
    font-size: 24px;
    line-height: 24px;
    margin: 0 0 24px 0;
    white-space: nowrap;
  }

  .offscreen {
    display: none;
    margin: 0;
  }
}

/* Site nav */
.layout {
  position: relative;
  top: 0;
  padding-left: 0;
}

.site-nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;

  display: block;
  width: 0;
  height: 100vh;
  // margin-left: -20%;

  background: #ddd;
}



$siteNavWidthInt: 150;
$siteNavWidth: #{$siteNavWidthInt}px;
$siteNavHamburgerOffset: #{$siteNavWidthInt - 24}px;
#site-nav-trigger {
  display: none;
}
#site-nav-trigger:checked {
  & ~ .layout {
    padding-left: $siteNavWidth;

    .site-nav-wrapper {
      width: $siteNavWidth;    }
  }
}

#site-nav-trigger ~ .site-nav-trigger-label {
  position: fixed;
  top: 30px;
  left: 24px;

  z-index: 125125;
  transform: translateX(0);
  transition: transform 0.25s linear;

  .hamburger {
    .rect {
      background: white;
    }
  }
}
#site-nav-trigger:checked ~ .site-nav-trigger-label {
  // transform: translateX($siteNavHamburgerOffset);

  .hamburger {
    .rect {
      background: black;
    }
  }
}
