.tags-app {
  .tags-filters-container {
    margin-bottom: 12px;
  }
  
  .tags-filters-header {
    position: relative;
  }

  .tags-section-title {
    margin-top: 0;
    margin-bottom: 12px;
  }

  .hide-filters {
    position: absolute;
    top:0;
    right:0;

    cursor: pointer;
    font-size: 12px;
    transition: color 0.2s linear;

    &:hover {
      color: $interactive-hover;
    }

    .x {
      position: relative;
      display: inline-block;
      padding: 0 2px 0 1px;

      transform: translate(0.7px, 1.4px) rotate(45deg);
    }
  }

  .tags-filters-activator {
    margin-bottom: 18px;

    button {
      &:after {
        content: '';
      }
    }
  }

  .active-tags-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .matching-toggle-container {
      flex: none 0 0;
      margin-right: 1%;
    }
    .remove-search-tags-container {
      flex: none 0 0;
    }
  }

  .matching-any-all-toggle {
    .any-all-toggle {
      &:after {
        content:'';
      }
      white-space: nowrap;

      .any-all-text,
      .filters-text {
        display: inline-block;
      }
    }
  }

  .no-items {
    display: block;
    text-align: center;
  }

  .over-limit-wrapper {
    display: block;
    
    cursor: pointer;
    text-align: center;

    &.pub-item {
      height: 24px;
      min-height: 24px;
      padding: 0;
    }

    .over-limit {
      position: relative;
      display: inline-block;
      margin: 0 auto;

      font-size: 12px;
      font-style: italic;
      text-align: center;

      &:before, &:after {
        position: absolute;
        top: 8px;
        width: 0;
        height: 0;

        content: '';
        border-top: 4px solid black;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
      &:before {
        left: -15px;
      }
      &:after {
        right: -15px;
      }
    }
  }
}

.any-all-toggle {
  .any-all-3d-wrap {
    display: inline-block;
    width: 40px;
    perspective: none;
    perspective-origin: 0 0;

    .any-all-text {
      position: relative;
      width: 40px;
      height: 20px;
      transform-style: preserve-3d;

      // transform: rotateX(0deg);
      // transform: rotateX(-90deg) translateZ(-18px);
      transition: transform 0.2s linear;

      .matching-text {
        position: absolute;
        left:0;
        top: 0;
        width: 40px;
        height: 20px;
        border: thin solid $interactive-hover;
      }

      .any-text {
        transform: translateZ(20px);
        background: rgba(0,0,255,0.15);
      }
      .all-text {
        background: rgba(0,255,0,0.15);
        transform: rotateX(90deg) translateY(20px);
        // transform-origin: bottom center;
      }
    }
  }

  &.selected-all {
    .any-all-text {
      transform: rotateX(0deg) translateZ(0px);
    }
  }
  &.selected-any {
    .any-all-text {
      transform: rotateX(-90deg) translateZ(-18px);
    }
  }
}
