.tags,
.tags-active {
  margin-bottom: 12px;
}

// cyan
// $inactiveBGColor: #69d4fd;
// $inactiveBGColor-light: #B9EAFE;

// green
$inactiveBGColor: #27ae0c;
$inactiveBGColor-light: #32e010;
.tags {
  button {
    margin-right: 0.5%;

    color: #000000;
    border: none;
    border-radius: 16px;
    padding: 3px 10px;

    box-shadow: none;
    transition: background-color 0.7s ease;

    &:after {
      content: '+';
      color: black;
      transition: color 0.5s ease;
    }

    &:hover {
      background: $inactiveBGColor;
      // background: $inactiveBGColor-light;

      animation: neon-glow-in 0.25s ease,
                 neon-glow 1.5s 0.25s ease-in-out infinite alternate;


      &:after {
        color: white;
      }
    }
  }
}

.tags-active {
  button {
    &:after {
      position: relative;
      top: -1px;

      font-size: 10px;
      font-weight: bold;

      content: '\2715';
      color: black;
    }
  }
}

@keyframes neon-glow-in {
  0% {
    box-shadow:0 0 0 0 $inactiveBGColor-light,
               0 0 0 0 $inactiveBGColor;
  }
  100% {
    box-shadow:0 0 2px  0.5px  $inactiveBGColor-light,
               0 0 1px  0px  $inactiveBGColor;
  }
}
@keyframes neon-glow {
  0% {
    box-shadow:0 0 2px  0.5px  $inactiveBGColor-light,
               0 0 1px  0px  $inactiveBGColor;
  }
  100% {
    box-shadow:0 0 1px 0.5px $inactiveBGColor-light,
               0 0 3px 2px  $inactiveBGColor;
  }
}

// @keyframes neon4 {
//   from {
//     box-shadow:0 0 2px #fff,
//                0 0 7px  $inactiveBGColor,
//                0 0 10px  #fff,
//                0 0 12px  $inactiveBGColor;
//   }
//   to {
//     box-shadow:0 0 10px #fff,
//                0 0 12px $inactiveBGColor,
//                0 0 5px #fff,
//                0 0 7px $inactiveBGColor;
//   }
// }
