.tags-app {
  .tags-filters-container {
    margin-bottom: 12px;
  }
  
  .tags-filters-header {
    position: relative;
  }

  .tags-section-title {
    margin-top: 0;
    margin-bottom: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .hide-filters {
    position: absolute;
    top:0;
    right:0;

    cursor: pointer;
    font-size: 12px;
    transition: color 0.2s linear;

    &:hover {
      color: $interactive-hover;
    }

    .x {
      position: relative;
      display: inline-block;
      padding: 0 2px 0 1px;

      transform: translate(0.7px, 1.4px) rotate(45deg);
    }
  }

  .tags-filters-activator {
    margin-bottom: 18px;

    button {
      &:after {
        content: '';
      }
    }
  }

  .active-tags-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .matching-toggle-container {
      flex: none;
      padding-right: 2.5%;
      margin-right: 2.5%;
      border-right: thin solid #aaa;
    }
    .remove-search-tags-container {
      flex: 1 1;
    }
  }

  .matching-any-all-toggle {
    .any-all-toggle {
      &:after {
        content:'';
      }
      white-space: nowrap;

      .any-all-text,
      .filters-text {
        display: inline-block;
      }
    }
  }

  .no-items {
    display: block;
    text-align: center;
  }

  .over-limit-wrapper {
    display: block;
    
    cursor: pointer;
    text-align: center;

    &.pub-item {
      height: 24px;
      min-height: 24px;
      padding: 0;
    }

    .over-limit {
      position: relative;
      display: inline-block;
      margin: 0 auto;

      font-size: 12px;
      font-style: italic;
      text-align: center;

      &:before, &:after {
        position: absolute;
        top: 8px;
        width: 0;
        height: 0;

        content: '';
        border-top: 4px solid black;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
      &:before {
        left: -15px;
      }
      &:after {
        right: -15px;
      }
    }
  }
}

// this needs A LOT of work.
// 3d transforms are weird
.any-all-toggle {
  .any-all-3d-wrap {
    display: inline-block;
    width: 32px;
    perspective: none;
    perspective-origin: 0 0;

    .any-all-text {
      position: relative;
      width: inherit;
      height: 18px;
      margin: 0 auto;
      transform-style: preserve-3d;

      transition: transform 0.8s ease;
      // animation: spin-vert 2s infinite alternate linear;


      .matching-text {
        position: absolute;
        display: inline-block;
        left: 0;
        top: 0;
        width: inherit;
        height: 18px;
      }

      .all-text {
        top: 1px;
        height: 21px;
        padding-bottom: 2px;
        border-bottom: 2px solid $interactive-hover;

        transform: translateZ(9px);
      }
      .any-text { // .cube-bottom
        line-height: 16px;
        border-top: 2px solid $interactive-hover;

        transform: rotateX(90deg) rotateZ(180deg) rotateY(180deg) translateY(10px); transform-origin: bottom center;
      }
    }

  }

  &.selected-all {
    .any-all-text {
      transform: rotateX(0deg);
    }
  }
  &.selected-any {
    .any-all-text {
      transform: rotateX(90deg);
    }
  }
}

@keyframes spin-vert {
  from { transform: rotateX(0deg); }
  to   { transform: rotateX(-360deg); }
}