.tags-app {
  .tags-filters-container {
    margin-bottom: 12px;
  }
  
  .tags-filters-header,
  .remove-search-tags {
    position: relative;
    margin-bottom: 12px;
  }

  .hide-filters {
    float: right;

    cursor: pointer;
    font-size: 12px;
    transition: color 0.2s linear;

    &:hover {
      color: $interactive-hover;
    }

    .x {
      position: relative;
      display: inline-block;
      padding: 0 2px 0 1px;

      transform: translate(0.7px, 1.4px) rotate(45deg);
    }
  }

  .tags-filters-activator {
    margin-bottom: 18px;

    button {
      &:after {
        content: '';
      }
    }
  }

  .active-tags-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;

    .matching-toggle-container {
      flex: none 0 0;
    }
    .remove-search-tags-container {
      flex: none 0 0;
    }

    .remove-search-tags {
      margin-top: 0;
    }
  }

  .no-items {
    display: block;
    text-align: center;
  }

  .over-limit-wrapper {
    display: block;
    
    cursor: pointer;
    text-align: center;

    &.pub-item {
      height: 24px;
      min-height: 24px;
      padding: 0;
    }

    .over-limit {
      position: relative;
      display: inline-block;
      margin: 0 auto;

      font-size: 12px;
      font-style: italic;
      text-align: center;

      &:before, &:after {
        position: absolute;
        top: 8px;
        width: 0;
        height: 0;

        content: '';
        border-top: 4px solid black;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
      }
      &:before {
        left: -15px;
      }
      &:after {
        right: -15px;
      }
    }
  }
}