.tags,
.tags-active {
  margin-bottom: 12px;
}

.tag-button {
  cursor: pointer;
  margin: 0 3px 12px 3px;
}

// cyan
// $inactiveBGColor: #69d4fd;
// $inactiveBGColor-light: #B9EAFE;

// green
$inactiveBGColor: #27ae0c;
$inactiveBGColor-light: #32e010;

// red
$activeBGColor: #ae270c;
$activeBGColor-light: #e03210;

.tags {
  button {
    margin-right: 0.5%;

    color: #000000;
    background: $almost-white;
    border: none;
    border-radius: 2px;
    padding: 3px 10px;

    box-shadow: none;
    transition: background-color 0.7s $easeInOutSine;

    &:after {
      content: '+';
      color: #27ae0c;
      transition: color 0.5s ease;
    }

    &:hover {
      background: $inactiveBGColor;
      animation: neon-glow-in 0.15s $easeInOutSine,
                 neon-glow 0.75s 0.15s $easeInOutSine infinite alternate;


      &:after {
        color: white;
      }
    }
  }
}

.tags-active {
  button {
    &:hover {
      background: $activeBGColor;
      animation: remove-glow-in 0.15s $easeInOutSine,
                 remove-glow 0.75s 0.15s $easeInOutSine infinite alternate;



      &:after {
        color: #fcc;
      }
    }
    &:after {
      position: relative;
      top: -1px;

      font-size: 10px;
      font-weight: bold;

      content: '\2715';
      color: red;
    }
  }
}

@keyframes neon-glow-in {
  0% {
    box-shadow:0 0 0 0 $inactiveBGColor-light,
               0 0 0 0 $inactiveBGColor;
  }
  100% {
    box-shadow:0 0 2px  0.5px  $inactiveBGColor-light,
               0 0 1px  0px  $inactiveBGColor;
  }
}
@keyframes neon-glow {
  0% {
    box-shadow:0 0 2px  0.5px  $inactiveBGColor-light,
               0 0 1px  0px  $inactiveBGColor;
  }
  100% {
    box-shadow:0 0 1px 0.5px $inactiveBGColor-light,
               0 0 3px 2px  $inactiveBGColor;
  }
}

@keyframes remove-glow-in {
  0% {
    box-shadow:0 0 0 0 $activeBGColor-light,
               0 0 0 0 $activeBGColor;
  }
  100% {
    box-shadow:0 0 2px  0.5px $activeBGColor-light,
               0 0 1px  0px   $activeBGColor;
  }
}
@keyframes remove-glow {
  0% {
    box-shadow:0 0 2px  0.5px $activeBGColor-light,
               0 0 1px  0px   $activeBGColor;
  }
  100% {
    box-shadow:0 0 1px 0.5px $activeBGColor-light,
               0 0 3px 2px   $activeBGColor;
  }
}

// @keyframes neon4 {
//   from {
//     box-shadow:0 0 2px #fff,
//                0 0 7px  $inactiveBGColor,
//                0 0 10px  #fff,
//                0 0 12px  $inactiveBGColor;
//   }
//   to {
//     box-shadow:0 0 10px #fff,
//                0 0 12px $inactiveBGColor,
//                0 0 5px #fff,
//                0 0 7px $inactiveBGColor;
//   }
// }
